@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #F6F6F6;
    --tertiary-color: #4c0b89;
    --hover-color: #272727;

    --primary-font: 'Krona One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 600;
    color: var(--tertiary-color);
    text-decoration: none;
}

.presentation{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title{
    font-size: 36px;
    font-family: var(--primary-font);
}

.highlight-title{
    color: var(--tertiary-color);
}

.presentation__content__text{
    font-size: 24px;
    font-family: var(--secondary-font);
}

.presentation__links__subtitle {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 15px;
}

.presentation__links__link:hover {
    background-color: var(--hover-color);
}


/* Carousel */
.image-carousel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Set the maximum size of the image */
    margin: 0 auto;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s ease-in-out;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-nav button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.carousel-nav button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.footer {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 12px 24px;  /* Adjusts the footer padding */
    font-family: var(--secondary-font);
    display: flex;          /* Using flexbox to align the items */
    justify-content: center;  /* Centers content inside the footer */
    align-items: center;    /* Aligns items vertically */
    flex-direction: column; /* Organizes items in column (text and links) */
}

.footer__content {
    display: flex;
    align-items: center;    /* Ensures the links and text are aligned in the center */
    gap: 10px;              /* Adds spacing between links and text */
}

.footer__text {
    font-size: 14px;         /* Reduces the font size */
    font-weight: 400;
}

.presentation__links {
    display: flex;
    justify-content: center; /* Centers the links */
    gap: 10px;               /* Reduces space between links */
}

.presentation__links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;                /* Reduces space between the icon and text */
    border: 2px solid var(--tertiary-color);
    width: auto;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;         /* Reduces the font size of the links */
    padding: 6px 12px;       /* Reduces padding to make links more compact */
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

.presentation__links__link:hover {
    background-color: var(--hover-color);
}

.presentation__links__link img {
    filter: brightness(0) invert(1);  /* This makes the icons turn white */
}